<html>

<head>
    <style type="text/css">
        h1 {
            font-family: Calibri, Sans-Serif;
        }

        h2 {
            font-family: Calibri, Sans-Serif;
            color: darkblue;
        }

        code {
            background: #dddddd;
            display: block
        }
    </style>
    <title>DCR</title>
</head>

<body>
    <h1>HTTP request</h1>
    <h2>Method</h2>
    <textarea rows="3" cols=132>
Method={{method}}
URI={{uri}}
Proto={{version}}
    </textarea>
    </code>


    <h2>HTTP Headers received</h2>
    <textarea rows="5" cols=132>
{{header}}
    </textarea>

    <h2>Body of the Request (for methods PUT, POST, ...)</h2>
    <textarea rows="5" cols=132>
{{request}}
    </textarea>

    <h1>Environment</h1>
    <textarea rows="5" cols=132>
{{env}}
    </textarea>
</body>

</html>